@using com.nlf.calendar;

@page "/"

<PageTitle>一日一卦 - 主页</PageTitle>

<h1>一日一卦</h1>

<p></p>

<p>欢迎访问一日一卦！</p>

<p>此网站是微信公众号“一日一卦”的衍生。正如其名，每天都会有不同的一卦作为今日之卦。</p>

<p>一开始的想法是，打开网站就显示今日之卦的卦爻辞，而无其他任何功能。</p>

<p>但经过考虑，我们决定提供自由的查询功能，而今日之卦则会作为进入查询界面时默认显示的卦。</p>

<p>由于网站初建，还没有做成完整的交互功能，目前仅可通过在网址中输入参数进行查询。</p>

<p>其格式为 p=初二三四五六 ，如 /query?p=111111 将查询乾卦， /query?p=000000 则可查询坤卦。</p>

<p>本网站使用 <a href="https://github.com/YiJingFramework/YiJingFramework.Core/wiki" target="_blank">YiJingFramework</a> 获取卦爻辞。</p>

<p>具体使用的翻译为经 f1cffa73-2af9-4593-aeb6-fa409baaaaa3 ，传 b4d54da8-6839-4762-a728-04dfbf160b0a 。均未经过严格的人工检查。</p>

 